In [27]:
file <- "lakes.txt"

rows <- readLines(file)

a <- strsplit(rows, "\\s+") #separator: any number of spaces 

#save headings and remove from the data
#to save the vector in a list you have to use the double [[]]

headings <-a[[1]]
#a[-index] removes that index
a <- a[-1]

for (i in 1:length(a)){
    tmp=a[[i]][1]                       #save first element
    a[[i]] <- a[[i]][-1]                #remove first row 
    a[[i]][1] <- paste(tmp, a[[i]][1]) #add it to the second element, unique string
}
a

[[1]]
[1] "Loch Ness" "7.45"      "56"        "39"        "230"       "132"

[[2]]
[1] "Loch Lomond" "2.6"         "71"          "36"          "190"
[6] "37"

[[3]]
[1] "Loch Morar" "2.3"        "27"         "18.8"       "310"
[6] "87"

[[4]]
[1] "Loch Tay" "1.6"      "26.4"     "23"       "150"      "60.6"

[[5]]
[1] "Loch Awe" "1.2"      "39"       "41"       "94"       "32"

[[6]]
[1] "Loch Maree" "1.09"       "28.6"       "20"         "114"
[6] "38"

[[7]]
[1] "Loch Ericht" "1.08"        "18.6"        "23"          "156"
[6] "57.6"

[[8]]
[1] "Loch Lochy" "1.07"       "16"         "16"         "162"
[6] "70"

[[9]]
[1] "Loch Rannoch" "0.97"         "19"           "15.7"         "134"
[6] "51"

[[10]]
[1] "Loch Shiel" "0.79"       "19.5"       "28"         "128"
[6] "40"

[[11]]
[1] "Loch Katrine" "0.77"         "12.4"         "12.9"         "151"
[6] "43.4"

[[12]]
[1] "Loch Arkaig" "0.75"        "16"          "19.3"        "109"
[6] "46.5"

[[13]]
[1] "Loch Shin" "0.35"      "22.5"      "27.8"      "49"        "15.5"

In [28]:
#Have a look at this 
df <- data.frame(do.call(rbind,a), stringsAsFactors = FALSE)

names(df) <- headings

#convert all columns to double apart from the first one
df[, -1] <- lapply(df[ , -1], as.numeric)

df

   Loch         Volume Area Length Maxdepth Meandepth
1  Loch Ness    7.45   56.0 39.0   230      132.0
2  Loch Lomond  2.60   71.0 36.0   190       37.0
3  Loch Morar   2.30   27.0 18.8   310       87.0
4  Loch Tay     1.60   26.4 23.0   150       60.6
5  Loch Awe     1.20   39.0 41.0    94       32.0
6  Loch Maree   1.09   28.6 20.0   114       38.0
7  Loch Ericht  1.08   18.6 23.0   156       57.6
8  Loch Lochy   1.07   16.0 16.0   162       70.0
9  Loch Rannoch 0.97   19.0 15.7   134       51.0
10 Loch Shiel   0.79   19.5 28.0   128       40.0
11 Loch Katrine 0.77   12.4 12.9   151       43.4
12 Loch Arkaig  0.75   16.0 19.3   109       46.5
13 Loch Shin    0.35   22.5 27.8    49       15.5

In [29]:
#1 
#dataframe=list of vectors so again [[]] to access the vector
max_vol <- which.max(df[["Volume"]])
min_vol <- which.min(df[["Volume"]])
max_are <- which.max(df[["Area"]])
max_are <- which.max(df[["Area"]])

#Show with cat

In [31]:
#2
library(dplyr)
arrange(df, Area)[-1:-(nrow(df)-2), ]

   Loch        Volume Area Length Maxdepth Meandepth
12 Loch Ness   7.45   56   39     230      132
13 Loch Lomond 2.60   71   36     190       37

In [33]:
#3
sum(df[["Area"]])

[1] 372

SECOND EXERCISE

In [36]:
library ( rvest )
library ( tidyverse )
library(magrittr)
men100m_html <- read_html ( "http://www.alltime-athletics.com/m_100ok.htm" )
men100m_html |> html_nodes ( xpath = "//pre" ) |> html_text () -> men100m_list
men100m_tbl <- read_fwf ( men100m_list )

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ forcats   1.0.0     ✔ readr     2.1.4
✔ ggplot2   3.4.1     ✔ stringr   1.5.0
✔ lubridate 1.9.2     ✔ tibble    3.2.0
✔ purrr     1.0.1     ✔ tidyr     1.3.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()         masks stats::filter()
✖ readr::guess_encoding() masks rvest::guess_encoding()
✖ dplyr::lag()            masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: ‘magrittr’


The following object is masked from ‘package:purrr’:

    set_names


The following object is masked from ‘package:tidyr’:

    extract


Rows: 4025 Columns: 9
── Column specification ────────────────────────────────────────────────────────

chr (8): X2, X3, X4, X5, X6, X7, X8, X9
dbl (1): X1

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [37]:
names(men100m_tbl) <- c("Rank", "Time", "Wind", "Name", "Nationality", "DOB", "Result", "Venue", "Date")

In [42]:
men100m_tbl <- mutate(men100m_tbl, Time = as.numeric(Time), Wind = as.numeric(Wind))
men100m_tbl <- mutate(men100m_tbl, DOB = as.Date(DOB, format = "%d.%m.%y"), Date = as.Date(Date, format = "%d.%m.%Y"))

#remove NAs, that create problems 
men100m_tbl <- na.omit(men100m_tbl)
men100m_tbl

     Rank Time  Wind Name                  Nationality DOB        Result
1     1   9.58   0.9 Usain Bolt            JAM         1986-08-21 1
2     2   9.63   1.5 Usain Bolt            JAM         1986-08-21 1
3     3   9.69   2.0 Tyson Gay             USA         1982-08-09 1
4     3   9.69  -0.1 Yohan Blake           JAM         1989-12-26 1
5     6   9.71   0.9 Tyson Gay             USA         1982-08-09 2
6     7   9.72   1.7 Usain Bolt            JAM         1986-08-21 1rA
7     7   9.72   0.2 Asafa Powell          JAM         1982-11-23 1rA
8     9   9.74   1.7 Asafa Powell          JAM         1982-11-23 1h2
9     9   9.74   0.9 Justin Gatlin         USA         1982-02-10 1
10   11   9.75   1.1 Yohan Blake           JAM         1989-12-26 1
11   11   9.75   1.5 Yohan Blake           JAM         1989-12-26 2
12   11   9.75   0.9 Justin Gatlin         USA         1982-02-10 1rA
13   11   9.75   1.4 Justin Gatlin         USA         1982-02-10 1rA
14   15   9.76   1.8 Usain Bolt            JAM         1986-08-21 1
15   15   9.76   1.3 Usain Bolt            JAM         1986-08-21 1
16   15   9.76  -0.1 Usain Bolt            JAM         1986-08-21 1
17   15   9.76   1.4 Yohan Blake           JAM         1989-12-26 1rA
18   15   9.76   0.6 Christian Coleman     USA         1996-03-06 1
19   15   9.76   1.4 Fred Kerley           USA         1995-05-07 1s1
20   22   9.77   1.6 Asafa Powell          JAM         1982-11-23 1
21   22   9.77   1.5 Asafa Powell          JAM         1982-11-23 1
22   22   9.77   1.0 Asafa Powell          JAM         1982-11-23 1rA
23   22   9.77   1.6 Tyson Gay             USA         1982-08-09 1q1
24   22   9.77  -1.3 Usain Bolt            JAM         1986-08-21 1
25   22   9.77   0.9 Asafa Powell          JAM         1982-11-23 1h1
26   22   9.77   0.4 Tyson Gay             USA         1982-08-09 1
27   22   9.77  -0.3 Usain Bolt            JAM         1986-08-21 1
28   22   9.77   0.6 Justin Gatlin         USA         1982-02-10 1
29   22   9.77   0.9 Justin Gatlin         USA         1982-02-10 1s2
30   22   9.77   1.5 Trayvon Bromell       USA         1995-07-10 1rA
⋮    ⋮    ⋮     ⋮    ⋮                     ⋮           ⋮          ⋮
3669 18    9.90  0.4 Darwin Cook           USA         2062-07-16 1
3670 18    9.90  1.2 Vladimir Krylov       RUS         2064-02-26 1
3671 18    9.90  0.7 Vitaliy Savin         KAZ         2066-01-23 1
3672 18    9.90  0.2 Salaam Gariba         GHA         1969-01-23 1
3673 18    9.90  1.5 Bruny Surin           CAN         2067-07-12 1
3674 18    9.90  1.1 Kastytis Klimas       LTU         1969-04-26 1
3675 18    9.90  1.9 Sam Jefferson         USA         1971-04-19 5
3676 18    9.90  1.7 Jeff Laynes           USA         1970-10-03 1
3677 18    9.90 -1.3 Randall Evans         USA         1970-10-26 1
3678 18    9.90  1.6 Koji Ito              JPN         1970-01-29 1
3679 18    9.90  1.4 Deji Aliu             NGR         1975-11-22 1h2
3680 18    9.90  1.9 Brendan Christian     ANT         1983-12-11 1
3681 18    9.90  1.4 Asafa Powell          JAM         1982-11-23 1
3682 18    9.90 -0.6 Gary Ryan             IRL         1972-06-12 1
3683 18    9.90  0.1 Luis Alexander Reyes  CUB         1977-10-22 1s2
3684 18    9.90  0.8 Jenris M. Vizcaíno    CUB         1980-05-16 1
3685 18    9.90  0.1 Mike Rodgers          USA         1985-04-24 1r1
3686 18    9.90  0.6 Aziz Ouhadi           MAR         1984-07-24 1
3687 18    9.90  1.6 Víctor Angel González CUB         1987-06-08 2
3688 18    9.90  1.8 Obinna Metu           NGR         1988-07-12 2
3689 18    9.90  0.9 Noah Lyles            USA         1997-07-18 1
3690 18    9.90  1.9 Reynier Mena          CUB         1996-11-21 1
3691 18    9.90 -2.1 Roberto Skyers        CUB         1991-11-12 1h1
3692 18    9.90 -2.1 Edel Amores           CUB         1998-10-05 2h1
3693  1    9.91  0.1 Usain Bolt            JAM         1986-08-21 1rA
3694  2    9.92 -0.3 Usain Bolt            JAM         1986-08-21 1
3695  3    9.96 -0.9 Usain Bolt            JAM         1986-08-21 1
3696  4    9.97  0.8 Usain Bolt            JAM         1986-08-21 1
3697  5   10.00  0.4 Usain Bolt            JAM         1986-08-21 1
3698  6   10.03  1.3 Yohan Blake           JAM         1989-12-26 1
     Venue         Date
1    Berlin        2009-08-16
2    London        2012-08-05
3    Shanghai      2009-09-20
4    Lausanne      2012-08-23
5    Berlin        2009-08-16
6    New York City 2008-05-31
7    Lausanne      2008-09-02
8    Rieti         2007-09-09
9    Ad-Dawhah     2015-05-15
10   Kingston      2012-06-29
11   London        2012-08-05
12   Roma          2015-06-04
13   Lausanne      2015-07-09
14   Kingston      2008-05-03
15   Bruxelles     2011-09-16
16   Roma          2012-05-31
17   Zürich        2012-08-30
18   Ad-Dawhah     2019-09-28
19   Eugene        2022-06-24
20   Athínai       2005-06-14
21   Gateshead     2006-06-11
22   Zürich        2006-08-18
23   Eugene        2008-06-28
24   Bruxelles     2008-09-05
25   Rieti         2008-09-07
26   Roma          2009-07-10
27   Moskva        2013-08-11
28   Bruxelles     2014-09-05
29   Beijing       2015-08-23
30   Miramar       2021-06-05
⋮    ⋮             ⋮
3669 Nice          1985-07-16
3670 Odessa        1985-09-04
3671 Vladivostok   1988-09-13
3672 Atlanta       1991-04-06
3673 Caorle        1992-07-11
3674 Kaunas        1993-05-22
3675 Houston       1995-05-19
3676 Port Alberni  1995-05-24
3677 Houston       1999-06-04
3678 Hiratsuka     1999-06-16
3679 Lisboa        1999-06-19
3680 San Antonio   2002-04-29
3681 Spanish Town  2003-03-30
3682 Namur         2003-07-26
3683 La Habana     2007-06-14
3684 La Habana     2007-06-21
3685 Fortaleza     2009-05-10
3686 Damascus      2009-10-07
3687 La Habana     2010-02-18
3688 Kaduna        2014-10-31
3689 Fairfax       2016-05-26
3690 La Habana     2017-02-24
3691 La Habana     2017-03-14
3692 La Habana     2017-03-14
3693 Manchester    2009-05-17
3694 Berlin        2009-08-20
3695 Beijing       2008-08-20
3696 Daegu         2011-09-03
3697 London        2012-08-09
3698 Manchester    2014-05-17

In [ ]:
c <- arrange(men_100m_tbl, Date)|>